<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Data Broker Web App Sign In Sample</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body>
<header>
  <nav class="cyan lighten-4" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo"><i class="small material-icons">home</i></a>
      {{#if authenticated}}
      <ul class="right hide-on-med-and-down">
        <li><a href="/logout"><i class="small material-icons right">exit_to_app</i>Log out</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/logout"><i class="small material-icons right">exit_to_app</i>Log out</a></li>
      </ul>
      {{/if}}
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
</header>

<main>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center light-blue-text">Data Broker Sign In Sample</h1>
      <div class="row center">
        <h5 class="header col s12 light">This sample demonstrates authentication and resource requests from a server-side web application using OpenID Connect and SCIM.</h5>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 m6">
          <div class="icon-block">
            <h2 class="center light-blue-text"><a href="/protected"><i class="material-icons">face</i></a></h2>
            <h5 class="center"><a href="/protected">View protected resource requiring default authentication</a></h5>

            <p class="light">Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nullam quis risus eget urna mollis ornare vel eu leo. Nullam quis risus eget urna mollis ornare vel eu leo. Donec sed odio dui. Donec sed odio dui.</p>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="icon-block">
            <h2 class="center light-blue-text"><a href="/protected"><i class="material-icons">fingerprint</i></a></h2>
            <h5 class="center"><a href="/protected">View protected resource requiring multi-factor authentication</a></h5>

            <p class="light">Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas faucibus mollis interdum.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<footer class="page-footer grey darken-1">
  <div class="footer-copyright">
    <div class="container">
      &copy; 2016 UnboundID
      <a class="grey-text text-lighten-4 right" href="https://github.com/UnboundID/broker-groovy-sign-in-sample">GitHub</a>
    </div>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/js/materialize.js"></script>
<script src="/js/init.js"></script>

</body>
</html>
