<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Data Broker Web App Sign In Sample</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body>
{{> header}}

<main>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center light-blue-text">Data Broker Sign In Sample</h1>
      <div class="row center">
        <h5 class="header col s12 light">This sample shows how a server-side web application authenticates users with the Data Broker using OpenID Connect and SCIM.</h5>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><a href="/protected/default"><i class="material-icons">face</i></a></h2>
            <h5 class="center"><a href="/protected/default">1. View protected resource requiring default authentication</a></h5>

            <p class="light">Following this path will require the user to successfully authenticate to the Data Broker. A particular level of authentication is not required.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><a href="/protected/scope"><i class="material-icons">vpn_lock</i></a></h2>
            <h5 class="center"><a href="/protected/scope">2. View protected resource requiring a specific scope</a></h5>

            <p class="light">This endpoint performs a post-authentication check to ensure that a specific scope was authorized by the end user during authentication. If this condition is not met, the user is asked to reauthorize.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><a href="/protected/acr"><i class="material-icons">fingerprint</i></a></h2>
            <h5 class="center"><a href="/protected/acr">3. View protected resource requiring multi-factor authentication</a></h5>

            <p class="light">This endpoint performs a post-authentication ACR check to ensure that the user has achieved a particular level of authentication. If this condition is not met, the user is asked to re-authenticate. The user is also given the opportunity to set up multi-factor authentication using a separate account management application.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{{> footer}}

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/js/materialize.js"></script>
<script src="/js/init.js"></script>

</body>
</html>
